.form {
  width: 320px;
  box-shadow: 0 3px 7px 3px #e2e2e2;
  border-radius: 3px;
  padding: 60px 30px;

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__field-label {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__field-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 1px solid grey;
    border-radius: 3px;
    gap: 10px;
    margin-bottom: 15px;
    padding: 5px 10px;
  }

  &__field-input {
    height: 25px;
    border: none;
    width: 100%;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;

    &::placeholder {
      opacity: 0.6;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__field-icon {
    color: grey;
    cursor: pointer;
  }

  &__field-rules {
    padding: 0;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
  }

  &__field-rule {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__field-rules-icon {
    color: #4caf50;
  }

}

.sections {
  display: flex;
  justify-content: space-around;

  &__item {
    background: grey;
    width: 33%;
    height: 7px;

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    &--red {
      background: #ff5722;
    }

    &--yellow {
      background: #ffc107;
    }

    &--green {
      background: #4caf50;
    }
  }
}
