<form class="form" [formGroup]="form">
  <div class="form__field">
    <label class="form__field-label" for="password">
      Password:
    </label>

    <div class="form__field-wrapp">
      <input class="form__field-input" type="{{ show ? 'text' : 'password' }}" id="password"
        placeholder="Enter password" name="password" (keypress)="onKeyPress($event)" formControlName="password" />

      <span class="form__field-icon" (click)="togglePass()" [attr.aria-hidden]="true">
        <i *ngIf="show" class="fa fa-eye" aria-hidden="true"></i>
        <i *ngIf="!show" class="fa fa-eye-slash" aria-hidden="true"></i>
      </span>
    </div>

    <div class="sections">
      <div *ngFor="let index of [].constructor(3); let i = index" [class.sections__item]="i < 3"
        [class.sections__item--red]="password.errors?.['minlength'] || i === 0 && password.errors?.['easy']"
        [class.sections__item--yellow]="i <= 1 && password.errors?.['medium']"
        [class.sections__item--green]="i < 3 && isValud()">
      </div>
    </div>

    <ul class="form__field-rules">
      @for (item of [
      { title: 'More than 8 characters', check: !password.errors?.['minlength'] && !password.errors?.['required'] },
      { title: 'Letter', check: hisLatters() },
      { title: 'Number 0-9', check: hasDigits() },
      { title: 'Symbols @$!%*#?&_~', check: hasSymbols() },
      ]; track item.title) {
      <li class="form__field-rule">
        <span class="form__field-rules-icon" *ngIf="item.check">
          <i class="fa-solid fa-check"></i>
        </span>
        {{ item.title }}
      </li>
      }
    </ul>
  </div>
</form>
